$mainColor: #202020;
$secondColor: #fff;
$thirdColor: #808080;

$btnColor: #5a5a5a;
$btnHover: #2c6797;
$btnFocus: #2c6797;
$btnActive: #424242;

$linkHover: #2c6797;
$linkFocus: #2c6797;
$linkActive: #424242;

$mainFont: 'Roboto';
$secondFont: 'TTFirs';
