$mainColor: #202020;
$secondColor: #fff;
$thirdColor: #808080;

$btnColor: #5a5a5a;
$btnHover: #FF0000;
$btnFocus: #FF0000;
$btnActive: #424242;

$linkHover: #FF0000;
$linkFocus: #FF0000;
$linkActive: #424242;

$mainFont: 'Roboto';
$secondFont: 'TTFirs';
