<footer class="footer" id="contacts">
  <div class="container footer__container">
    <ul class="mail list-links">
      <li>
        <a href="mailto:dmitrymolkov28@gmail.com" class="footer__link">dmitrymolkov28@gmail.com</a>
      </li>
    </ul>

    <ul class="numbers list-links">
      <li>
        <a href="tel:+375292248249" class="footer__link link-svg">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          +37529&nbsp;224-82-49
        </a>
      </li>
    </ul>

    <ul class="social list-links">
      <li class="social__item">
        <a href="viber://chat?number=%2B375292248249" class="social__link" target="_blank">
          <svg>
            <use xlink:href="img/sprite.svg#vb"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="https://t.me/navernoyeDima" class="social__link" target="_blank">
          <svg>
            <use xlink:href="img/sprite.svg#tg"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="https://wa.me/375257844941" class="social__link" target="_blank">
          <svg>
            <use xlink:href="img/sprite.svg#wa"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
