<header class="header header-about">
  <div class="container header__container">
    <nav class="nav nav-desktop">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="index.html" class="nav__link link-svg link-main">
            <svg>
              <use xlink:href="img/sprite.svg#leftArr"></use>
            </svg>
            <span id="to-main-js">На главную</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="header__right">
      <div class="lang-box">
        <button class="lang-btn" id="ru">ru</button>
        <button class="lang-btn" id="en">en</button>
      </div>

      <a href="resources/Мольков Дмитрий_Резюме.pdf" class="btn resume" download="Мольков Дмитрий_Резюме.pdf">
        Резюме в PDF
      </a>
    </div>
  </div>

</header>
