<header class="header main-header">
  <div class="container header__container">

    <div class="for-burger">
      <button class="burger-btn" id="burger">
        <span class="burger-btn__line burger-btn__line_top"></span>
        <span class="burger-btn__line burger-btn__line_middle"></span>
        <span class="burger-btn__line burger-btn__line_bottom"></span>
      </button>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item close-nav">
            <button class="close-burger" id="close-burger">
              <svg>
                <use xlink:href="img/sprite.svg#close"></use>
              </svg>
            </button>
          </li>
          <li class="nav__item">
            <a href="#skills" class="nav__link">Навыки</a>
          </li>
          <li class="nav__item">
            <a href="#diplomas" class="nav__link">Дипломы</a>
          </li>
          <li class="nav__item">
            <a href="#projects" class="nav__link">Мои работы</a>
          </li>
          <li class="nav__item">
            <a href="#contacts" class="nav__link">Контакты</a>
          </li>
          <li class="nav__item">
            <a href="about.html" class="nav__link about-link link-svg">
              О себе
              <svg>
                <use xlink:href="img/sprite.svg#leftArr"></use>
              </svg>
            </a>
          </li>
          <li class="nav__item">
            <a href="tel:+375292248249" class="nav__link link-svg">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              +37529&nbsp;224-82-49</a>
          </li>
        </ul>
      </nav>
    </div>

    <a class="logo" href="">
      <img class="container-img" src="img/logo.svg" alt="MD">
    </a>

    <a href="resources/Мольков Дмитрий_Резюме.pdf" class="btn" download="Мольков Дмитрий_Резюме.pdf">
      Резюме в PDF
    </a>
  </div>
</header>
