@mixin for-desktop {
  @media (min-width: (1025px)) {
    @content;
  }
}

@mixin big-desktop {
  @media (max-width: (1440px)) {
  }
}

@mixin tablet {
  @media (max-width: (1024px)) {
    .hero {
      &__grid {
        grid-auto-rows: 600px;
      }
    }

    .skills {
      .progress {
        height: 180px;
        width: 180px;
      }
    }
  }
}

@mixin small-tablet {
  @media (max-width: (880px)) {
    .main-header {
      .logo {
        position: relative;
        padding: 0;
        left: 0;
        top: 0;
        width: 70px;
        height: 70px;
        background: transparent;
      }

      .nav {
        width: 50%;
        height: 580px;
        top: 0;
        right: auto;
        padding: 15px 15px;
        transform: translateX(-101%);
        transition-property: visibility, transform;
        transition-duration: 1s;
        transition-timing-function: ease;
        visibility: hidden;

        &__list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: 100%;
          justify-content: space-around;
        }

        .close-nav {
          position: absolute;
          left: auto;
          right: 50px;
          top: 50px;
          width: max-content;
          height: max-content;

          .close-burger {
            bottom: 0;
            left: 0;
            width: 30px;
            height: 30px;
          }
        }
      }

      .is_active_nav {
        visibility: visible;
        transform: none;
      }
    }

    .hero {
      &__grid {
        grid-auto-rows: 500px;
      }

      &__left_content {
        padding: 80px 0 0 30px;
      }

      &__title {
        font-size: 30px;
      }

      &__subtitle {
        font-size: 24px;
      }
    }

    .projects {
      &__item {
        height: 250px;
        overflow: hidden;
        position: relative;
      }
    }
  }

  @media (max-width: (768px)) {
    .main-header {
      .nav {
        height: 530px;
      }
    }

    .hero {
      &__grid {
        grid-auto-rows: 450px;
      }

      &__left_content {
        padding: 15px;
      }
    }

    .skills {
      &__title {
        display: block;
        font-size: 16px;
      }

      .progress {
        height: 150px;
        width: 150px;
      }

      .progress-text {
        font-size: 16px;
      }
    }
  }
}

@mixin mobile {
  @media (max-width: (680px)) {
    .main-header {
      .nav {
        height: 440px;
      }
    }

    .hero {
      &__grid {
        grid-auto-rows: 360px;
      }

      &__title {
        margin-bottom: 15px;
        font-size: 24px;
      }

      &__subtitle {
        margin-bottom: 5px;
        font-size: 18px;
      }
    }

    .photos {
      &__container {
        position: relative;
        padding: 20px;
      }

      &__box {
        width: 400px;
        height: 400px;
      }

      .photos__block {
        height: 200px;
        width: 200px;
      }

      .block-act {
        width: auto;
        height: auto;
        top: 20px;
        left: 20px;
        bottom: 20px;
        right: 20px;
      }
    }
  }

  @media (max-width: (576px)) {
    .btn {
      padding: 10px 14px;
      font-size: 14px;
      line-height: 14px;
    }

    .section-heading {
      font-size: 18px;
      line-height: 23px;
    }

    .main-header {
      .nav {
        height: 100vh;
      }
    }

    .header {
      &__container {
        min-height: 70px;
      }

      .logo {
        display: none;
      }
    }

    .hero {
      &__grid {
        display: block;
        position: relative;
      }

      &__left {
        position: absolute;
        height: max-content;
        margin-bottom: 5px;
        bottom: 0;
      }

      &__title {
        color: #363636;
      }

      .right {
        height: 400px;
      }
    }

    .skills {
      &__grid {
        grid-template-columns: 1fr 1fr;
      }
    }

    .diplomas {
      .swiper-slide {
        height: 450px;
      }
    }

    .projects {
      &__grid {
        grid-template-columns: 100%;
        grid-gap: 20px;
      }

      .reverse {
        top: calc(50% - 15px);
        left: calc(50% - 15px);

        &__btn {
          width: 30px;
          height: 30px;
        }
      }
    }

    .footer {
      &__container {
        flex-direction: column-reverse;
        align-items: center;
      }

      &__social {
        padding: 32px 0 28px 0;
      }

      .list-links {
        margin: 10px;
      }
    }
  }

  @media (max-width: (500px)) {
    .main-header {
      .nav {
        height: 100vh;
        width: 100%;
      }
    }

    .photos {
      &__container {
        position: relative;
        padding: 10px 0;
      }

      &__box {
        width: 290px;
        height: 290px;
      }

      .photos__block {
        height: 145px;
        width: 145px;
      }

      .block-act {
        width: auto;
        height: auto;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
      }
    }

    .projects {
      &__more {
        .more-description {
          padding: 10px;

          &-block {
            display: block;
            margin-bottom: 5px;
          }

          &-title {
            width: 100%;
            font-size: 14px;
            font-weight: bold;
          }

          &-item {
            width: 100%;
            list-style-type: circle;
            padding-left: 15px;
            font-size: 14px;
          }

          &-item li {
            margin-bottom: 2px;
          }
        }
      }
    }
  }

  @media (max-width: (400px)) {
    .skills {
      &__grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
      }

      .progress {
        height: 120px;
        width: 120px;
      }

      .progress-text {
        font-size: 16px;
      }

      &__paragraph {
        text-align: left;
      }
    }

    .projects {
      &__item {
        height: 200px;
        overflow: hidden;
        position: relative;
      }
    }
  }
}
