@import "../vars";
@import "../mixins";
@import "../fonts";

.footer {
  background: $mainColor;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 106px;
    padding-top: 5px;
    color: $thirdColor;
  }

  &__link {
    color: $secondColor;
  }

  .social {
    display: flex;

    &__item:not(:last-child) {
      margin-right: 15px;
    }

    &__link {
      height: max-content;
      width: max-content;


      svg {
        width: 40px;
        height: 40px;
        fill: $secondColor;
        transition: fill .3s ease;

        path {
          fill: inherit;
        }
      }

      &:hover {
        svg {
          fill: $linkHover;
        }
      }

      &:active {
        svg {
          fill: $linkActive;
        }
      }

      &:focus-visible {
        svg {
          fill: $linkFocus;
        }
      }
    }
  }

  .numbers {

    svg {
      animation: phone 1s infinite;
    }

    &:hover svg{
      animation-play-state: paused;
    }
  }

  @keyframes phone {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(5deg);
    }
    30% {
      transform: scale(1.3);
    }
    40% {
      transform: scale(1);
    }
    50% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(-5deg);
    }
    70% {
      transform: scale(1.3);
    }
    85% {
      transform: scale(1);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

